<div class="responsive-style">
  <header class="header-main">
    <div class="logo">
      <img src="assets/v84_5.png" width="100px" height="10%" alt=""/>
    </div>
    <nav class="nav-buttons">
      <button type="button" (click)="selectComponent('A')">INICIO</button>
      <button type="button" class="btn-js1 class4" (click)="selectComponent('B')">MENSAJES</button>
      <button type="button" (click)="selectComponent('C')">RESEÑAS</button>
      <button type="button" (click)="selectComponent('D')">PUBLICAR</button>
      <button type="button" (click)="selectComponent('E')">PROPIEDADES</button>
    </nav>
    <nav class="se-buttons">
      <button type="button" class="btn-js1 class1" (click)="selectComponent('F')">INICIAR SESIÓN</button>
    </nav>
  </header>
</div>
