<div class="app-container">
  <header class="header-main">
    <div class="logo">
      <img src="assets/v84_5.png" width="100px" height="10%" alt="" [routerLink]="['/inicio']"/>
    </div>
    <nav class="nav-buttons">
      <button type="button" [routerLink]="['/inicio']">INICIO</button>
      <button type="button" class="btn-js1 class4" [routerLink]="['/mensajes']">MENSAJES</button>
      <button type="button" [routerLink]="['/calificacion-propietario']">RESEÑAS</button>
      <button type="button" [routerLink]="['/publicar']">PUBLICAR</button>
      <button type="button" [routerLink]="['/propiedades']">PROPIEDADES</button>
    </nav>
    <nav class="se-buttons">
      <button type="button" class="btn-js1 class1" [routerLink]="['/sesion-registro']">INICIAR SESIÓN</button>
    </nav>
  </header>
</div>

<router-outlet></router-outlet>