<div class="boxgrid">

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #1</h2>
        <img src="assets/casa.jpg" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #2</h2>
        <img src="assets/casa2.jpg" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #3</h2>
        <img src="assets/casa3.webp" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #4</h2>
        <img src="assets/casa4.jpg" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #5</h2>
        <img src="assets/casa5.webp" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>

    <div class="content">
        <div class="header"><img src="assets/v84_5.png" alt="RentEase" class="logo"></div>
        <h2>Propiedad #6</h2>
        <img src="assets/casa.jpg" alt="Propiedad" class="property-img">
        <button class="confirm-btn">Ver</button>
    </div>
</div>
